.collection-main
{
    padding-left: 10px;
    padding-right: 20px;
    padding-top : 30px;
    padding-bottom: 30px;
    background-color: #f3f5f6;
}

@media(max-width:440px)
{
    .collection-main{padding-left: 0px;padding-right: 0px;}
}

/* Breadcromb css */

.collection-bread-para-display
{
    display : flex;
    align-items: left;
    justify-content: left;
}
.collection-bread-icon
{
    color : rgb(73, 71, 71);
}
.collection-bread-icon2
{
    padding-left: 10px;
    color : rgb(73, 71, 71);
}
.collection-bread-para
{
    text-align: center;
    padding-top: 1px;
    padding-left: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-align: center;
}
.collection-bread-para a
{
    display : inline-block;
    color : rgb(121, 117, 117);
    transition: 0.5s all ease-in-out;
}
.collection-bread-para a:hover
{
    text-decoration: none;
    color: #00badb;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.collection-bread-para a:focus
{
    text-decoration: none;
}
.collection-bread-split
{
    padding-top: 2px;
    padding-left: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color : rgb(121, 117, 117);
}
.collection-bread-para2
{
    padding-top: 1.5px;
    padding-left: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #00badb;
}

/* All collections list */

.collection-list-heading
{
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: bold;
    color : #1e2d7d;
    text-align: center;
}
.collection-list-image
{
    margin-top: 25px;
    width : 100%;
    background-color: white;
    border : 1px solid rgb(236, 235, 235);
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
}
.collection-image
{
    height: 210px;
    transition: 1s all ease-in-out;
    filter: brightness(80%);
    margin-left: -220px;
}
.collection-image-name
{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color : rgb(109, 107, 107);
    text-align: center;
    /* padding-top: 90px;
    padding-left: 150px; */
    overflow: auto;
    z-index: 10;
    transition: 0.5s all ease-in-out;
}

.collection-image-name::after
{
    content : ' »';
    opacity: 0;
    color: #00badb;
    transition: 0.5s;
}
.collection-list-image a:hover
{
    text-decoration: none;
    color: #00badb;
    /* transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all; */
}
.collection-list-image:hover .collection-image-name:after
{
    padding-right: 20px;
    opacity : 1;
}
.collection-list-image:hover .collection-image-name
{
    color: #00badb;
}




