.blog-one-main
{
    padding-left: 0px;
    padding-right: 20px;
    margin-bottom: 40px;
    background-color: #f3f5f6;
}
.blog-one-heading
{
    padding-top : 30px;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Roboto', sans-serif;
    color : #1e2d7d;
    font-weight: 600;
    font-size: 25px;
    word-spacing: 2px;
    letter-spacing: 1.6px;
}
.blog-one-date-display
{
    display: flex;
    padding-top: 13px;
}
.blog-one-author
{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color : rgb(99, 96, 96);
}
.blog-one-author-date
{
    padding-left: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color : rgb(99, 96, 96);
}
.blog-one-image
{
    margin-top : 40px;
    width: 100%;
    border-radius: 3px;
}
.blog-one-para
{
    padding-top: 40px;
    letter-spacing: 0.5px;
    word-spacing: 4px;
    line-height: 210%;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color : rgb(99, 96, 96);
}
.blog-one-one-para
{
    padding-top: 25px;
    letter-spacing: 0.5px;
    word-spacing: 4px;
    line-height: 210%;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color : rgb(99, 96, 96);
}
.blog-one-social-link-heading
{
    padding-top: 5px;
    color : rgb(99, 96, 96);
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
.blog-one-social-link
{
    width : 100%;
    margin-top : 60px;
    display: flex;
}
.blog-one-social-link a
{
    margin-left: 13px;
    border-radius: 50%;
    padding-left: 6.8px;
    padding-top: 0px;
    height : 31px;
    width : 32px;
    background-color: rgb(143, 140, 140);
    font-size: 18px;
    color : rgb(255, 255, 255);
}
.blog-one-social-link a:hover
{
    background-color: #1e2d7d;
    text-decoration: none;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
}
.blog-one-hr
{
    margin-top : 40px;
}

@media(max-width:440px)
{
    .blog-one-one-para{text-align: justify}
    .blog-one-para{text-align: justify}
    .blog-one-main{padding-right: 0px}
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');